* {
    margin: 0;
    padding : 0;
}

body, html {
    width: 100%;
    height: 100%;
}

nav {
    left : 42.5%;
    right : 4.1%;
    position : absolute;
    float : right;
}


nav a {
    bottom : 0px;
    padding-right: 3.3%;
    text-decoration: none;
    font-size : 40px;
    font-family: Constantia;
    color: rgb(142, 160, 129);
}

nav a:hover {
    color : white;
}

/* Header */
header {
    position: fixed;
    height : 4.5%;
    background: #262626;
    width : 100%;
    z-index: 100;
}

@media screen and (max-width : 1710px) {
    nav {
        bottom: -18%;
    }
    nav a{
        font-size: 30px;
    }
}

@media screen and (max-width : 1310px) {
    nav {
        bottom: -18%;
        left: 25%
    }
    nav a{
        font-size: 30px;
    }
}

@media screen and (max-width : 1030px) {
    nav {
        bottom: -17%;
        left: 10%
    }
    nav a{
        font-size: 30px;
    }
}

@media screen and (max-width : 820px) {
    nav {
        bottom: -10%;
        left: 3%
    }
    nav a{
        font-size: 19px;
    }
}

.item {
    position: relative;
    height : 100%;
    width : 100%;
}

/* Home Page */
#home.item {
    background-image: url("./content/MainPage.png");
    font-size: 90px;
}

#home.item h1 {
    position: absolute;
    color : white;
    font-size: 150px;
    left : 2.1%;
    bottom : 4.2%;
}

@media screen and (max-width : 1820px) {
    #home.item h1{
        font-size: 140px;
    }
}


@media screen and (max-width : 1730px) {
    #home.item h1 {
        font-size: 120px;
    }

}

@media screen and (max-width : 1450px) {
    #home.item h1 {
        font-size: 100px;
    }
}

@media screen and (max-width : 1300px) {
    #home.item h1 {
        font-size: 90px;
    }
}

@media screen and (max-width : 1100px) {
    #home.item h1 {
        font-size: 80px;
    }
}

@media screen and (max-width : 980px) {
    #home.item h1 {
        font-size: 70px;
    }
}

@media screen and (max-width : 900px) {
    #home.item h1 {
        font-size: 60px;
    }
}

@media screen and (max-width : 750px) {
    #home.item h1 {
        font-size: 40px;
    }
}


.outer-div {
    width: 100%;
    text-align: center;
    background-color: #0666a3
  }

.inner-div {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    background-color: #8ebf42
}

/* About Us */

#about.item {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    text-align: center;
}

#about.item h1, h2 {
    position : absolute;
    font-family: Constantia;
    color : rgb(232, 190, 17);
}

#about.item h1 {
    top : 10%;
    font-size: 100px;
}

#about.item h2 {
    white-space: nowrap;
    font-size: 100px;
}

.write_articles {
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top : 49.5%;
}

.join {
    position: absolute;
    left : 17%;
    top : 64%;
}

.enjoy {
    position: absolute;
    left : 41%;
    top : 79%;
}

.golden_rm_logo {
    position : absolute;
    top : 22%;
    left : 42%;
}

.golden_rm_logo img {
    width : 276px;
    height: auto;
}

.little_logo img {
    width : 46px;
    height: auto;
}

#top.little_logo {
    position : absolute;
    left : 48%;
    top : 60.5%;
}

#bot.little_logo {
    position : absolute;
    left : 48%;
    top : 75.5%;
}


@media screen and (max-width : 1750px) {
    #about.item h1 {
        font-size: 80px;
    }
    #about.item h2 {
        font-size: 60px;
    }
}

@media screen and (max-width : 1400px) {
    #about.item h1 {
        font-size: 60px;
    }
    #about.item h2 {
        font-size: 40px;
    }
}

@media screen and (max-width : 1040px) {
    #about.item h1 {
        font-size: 40px;
    }
    #about.item h2 {
        font-size: 35px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {
    #about.item h1 {
        font-size: 25px;
        margin: 0 auto;
    }
    #about.item h2 {
        font-size: 25px;
        margin: 0 auto;
    }
}


/* Gallery */
.image_gallery {  
    position: relative;
    width: 90%;
    height: 80%;  
    top: 9.2%;
    left: 5.2%;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap : 10px;
    grid-template-areas: 
                    "img-1 img-2 img-3"
                    "img-4 img-6 img-6"
                    "img-5 img-6 img-6";
}

.image_gallery a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.img-2 {
    background-position: 10% 10%;
}

a.img-6 {
    background-position: 10% 10%;
}

.img-1 {
    grid-area: img-1;
    background-image: url("content/grid_imgs/1.jpg");
}

.img-2 {
    grid-area: img-2;
    background-image: url("content/grid_imgs/2.jpg");
}

.img-3 {
    grid-area: img-3;
    background-image: url("content/grid_imgs/3.jpg");
}
.img-4 {
    grid-area: img-4;
    background-image: url("content/grid_imgs/4.jpg");
}

.img-5 {
    grid-area: img-5;
    background-image: url("content/grid_imgs/5.jpg");
}

.img-6 {
    grid-area: img-6;
    /* min-height: 40%; */
    background-image: url("content/grid_imgs/6.jpg");
}

@media screen and (max-width : 1200px) {
    .image_gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img-1 img-5"
        "img-2 img-4"
        "img-2 img-3"
        "img-6 img-6";
    }
}

@media screen and (max-width : 800px) {
    .image_gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img-1"
        "img-2"
        "img-3"
        "img-4"
        "img-5"
        "img-6";
    }

    
    a.img-1 {
        background-position: 0% 35%;
    }

    a.img-2 {
        background-position: 0% 15%;
    }

    a.img-3 {
        background-position: 0% 55%;
    }

    a.img-4 {
        background-position: 0% 60%;
    }

    a.img-5 {
        background-position: 0% 30%;
    }
}

/* Articles Search  */
#articles.item {
    background: linear-gradient(rgb(121, 129, 138), rgb(45, 57, 69));
}

.articles_rose {
    position: absolute;
    top : 15.7%;
    left: 40.7%;
}

button.search_btn {
    background-color: white;
}

a.add_page {
    position: absolute;
    bottom: 30%; 
    left: 20%;

    width: 450px;
    height: 50px;
    text-decoration: none;
    background-color: rgb(242, 242, 242);
}

a.add_page p {
    color: gray;
    font-family: Constantia;
    font-size : 25px;
    margin-left: 20px;
    margin-top: 10px;
}

.search_wrapper {
    position: absolute;
    bottom: 30%;
    left: 56%;
    width: 450px;
    height: 50px;
}


.left_elem {
    width: 400px;
    height: 50px;
    float: left;
}

.v1 {
    border-left: 6px solid rgb(242, 242, 242);
    height: 272px;
    position: absolute;
    left: 50%;
    top: 61%;
    margin-left: -3px;
}


.right_elem {
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
}

input.search {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    font-family: Constantia;
    font-size : 25px;
    width: 450px;
    height: 50px;
    background-color: rgb(242, 242, 242);
}

button.search_btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
}

button.search_btn img {
    width: 50px;
    height: 50px;
}

/* Login Page */
#login_page.item {
    background-color:  rgb(0, 116, 217);
}

.form {
    position: relative;
    width : 585px;
    height : 445px;
    background-color: rgb(0, 48, 90);
}


#log.form{
    position: absolute;
    left: 5.2%; 
    bottom: 9.2%;
}

.shinku_img {
    position: absolute;
    height: 100%;
    width: auto;
    top : 0;
    right: 0;
}


.shinku_img img {
    height: 100%;
    width: auto;
}


input, button {
    font-family: Consolas;
    font-size: 40px;
}

input {
    position : absolute;
    left : 50px;
    width : 500px;
    height: 50px;
}

input.log_usrname {
    top : 20px;
}

input.log_pass {
    top : 90px;
}

button {
    color : white;
    position : absolute;
    left : 51px;
    width : 500px;
    height: 50px;
    background-color: red;
    border: none;
}

button.log_btn{
    top : 160px;
}

/* Register page */
#reg_page.item {
    background-color:  rgb(0, 116, 217);
}

#reg.form{
    position: absolute;
    /* top: 440px;
    left: 100px;  */
    /* top: 40%; */
    left: 5.2%; 
    bottom: 9.2%;
}

input.reg_usrname {
    top : 20px;
}

input.reg_pass {
    top : 90px;
}

input.reg_conf_pass {
    top : 160px;
}

input.reg_email {
    top : 230px;
}

button.reg_btn {
    top: 300px;
}

/* Footer */

footer {
    position : absolute;
    height : 50%;
    width : 100%;
    background-color: rgb(7, 7, 13);
}

footer h1 {
    position : absolute;
    left : 24%;
    top : 13%;
    color : rgb(63, 166, 155);
    font-family : Constantia;
    font-size:  100pt;
}

footer p {
    position : absolute;
    left : 13%;
    bottom : 26%;
    color : rgb(63, 166, 155);
    font-family : Constantia;
    font-size : 40pt;
}

.rm_logo {
    position : absolute;
    left: 16.14%;
    top: 19%;
}

.rm_logo img {
    width: 100px;
    height: auto;
}

.footer_link img {
    height : 55px;
    width : auto;
}

#twitter_logo.footer_link {
    position : absolute; 
    left : 13%; 
    bottom : 8%;
}


#facebook_logo.footer_link {
    position : absolute;
    left : 20.3%;
    bottom : 8%;
}


#insta_logo.footer_link {
    position : absolute;
    left : 26%;
    bottom : 8%;
}